<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body>

<nav th:replace="fragments/head.html :: navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product}">Shop</a>

        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Cost</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${cartProducts}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">Alex</td>
                    <td th:text="${product.cost}">Alex</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"></th:block>
</body>
</html>